<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Data</title>
</head>
<body>
    <h1>Recieving the data from filled Form</h1>
    <h2>First Name: {{first_name}}</h2>
    <h2>Last Name: {{last_name}}</h2>
    <h2>Email: {{email}}</h2>
    <h2>Phone Number: {{phno}}</h2>
    <h2>Password: {{pwd}}</h2>
    <h2>Birthday: {{birth_day}}</h2>
    <h2>Birth Month: {{birth_month}}</h2>
    <h2>Birth Year: {{birth_year}}</h2>
    <h2>Gender: {{gender}}</h2>
</body>
</html>